.header {
    background-color: $secondary-color;
    text-align: center;
    padding: 1rem 0;

    &-h1 {
        margin: 0;
        font-size: 3em;
    }

    &-navigation {
        position: absolute;
        top: 1rem;
        right: 12rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        list-style: none;
    }
}