.spinner {
    display: inline-block;
    width: 100px;
    height: 100px;

    &:after {
        content: ' ';
        display: block;
        width: 84px;
        height: 84px;
        margin: 8px;
        border-radius: 50%;
        border: 8px solid teal;
        border-color: teal transparent teal transparent;
        animation: spinner 1.2s linear infinite;
    }

    &-centered {
        margin: 3rem auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}